@font-face {
  font-family: 'Inconsolata Bold';
  src: url('../fonts/inconsolata-bold.ttf') format('truetype'),
       url('../fonts/inconsolata-bold.woff2') format('woff2'),
       url('../fonts/inconsolata-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata Regular';
  src: url('../fonts/inconsolata-regular.ttf') format('truetype'),
       url('../fonts/inconsolata-regular.woff2') format('woff2'),
       url('../fonts/inconsolata-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfairdisplay-regular.ttf') format('truetype'),
       url('../fonts/playfairdisplay-regular.woff2') format('woff2'),
       url('../fonts/playfairdisplay-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
