.shapes-wrapper {
  &.in-place {
    transform: none;
  }
}

.shapes-wrapper-0 {
  transform: rotate(15deg);
  transition: transform 2500ms ease-out;
  mix-blend-mode: exclusion;
}

.shapes-wrapper-1 {
  transform: rotate(-30deg);
  transition: transform 2300ms ease-out;
  mix-blend-mode: multiply;
}

.shapes-wrapper-2 {
  transform: rotate(180deg);
  transition: transform 3000ms ease-out;
  mix-blend-mode: luminosity;
}

.shape {
  width: 0;
  height: 0;
  position: absolute;
  transition: transform 1000ms ease-out;
  mix-blend-mode: multiply;
}

.shape-0 {
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid #abec71;
  top: 0;
  left: 0;
  transform: rotate(-43deg) translate(40%, -150%);
  transition-delay: 52ms;
  transition-duration: 2000ms;
  z-index: 2;

  &.in-place {
    transform: rotate(60deg) translateZ(0);
    animation: 10s infinite reverse triangle-one;
    animation-delay: 2000ms;
  }
}

.shape-1 {
  width: 30px;
  height: 30px;
	background-color: #a1e7ff;
  top: -40px;
  left: 15px;
  transform: rotate(-203deg) translate(40%, -50%);
  transition-duration: 1770ms;

  &.in-place {
    transform: rotate(-36deg) translateZ(0);
    animation: 5s infinite reverse square;
    animation-delay: 1770ms;
  }
}

.shape-2 {
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 18px solid #b099f1;
  top: -54px;
  left: 78px;
  transform: rotate(73deg) translate(240%, 50%);
  transition-delay: 80ms;
  transition-duration: 2270ms;

  &.in-place {
    transform: rotate(156deg) translateZ(0);
    animation: 27s infinite reverse triangle-two;
    animation-delay: 2270ms;
  }
}

.shape-3 {
  width: 18px;
  height: 18px;
	background-color: #f9e87f;
  border-radius: 50%;
  top: -20px;
  left: 70px;
  transform: rotate(4deg) translate(440%, 150%);
  transition-delay: 100ms;
  transition-duration: 2970ms;

  &.in-place {
    transform: rotate(106deg) translateZ(0);
  }
}

.shape-4 {
  width: 3px;
  height: 18px;
	background-color: #ff0000;
  top: -26px;
  left: 70px;
  transform: rotate(-214deg) translateZ(0);
  transition-delay: 100ms;
  transition-duration: 2970ms;

  &.in-place {
    transform: rotate(120deg) translateZ(0);
    animation: 10s infinite reverse stick;
    animation-delay: 2970ms;
  }
}

// In-place animations
@keyframes triangle-one {
  0% {
    transform: rotate(60deg);
  }

  50% {
    transform: rotate(72deg);
  }

  100% {
    transform: rotate(60deg);
  }
}

@keyframes square {
  0% {
    transform: rotate(-36deg);
  }

  50% {
    transform: rotate(-86deg);
  }

  100% {
    transform: rotate(-36deg);
  }
}

@keyframes triangle-two {
  0% {
    transform: rotate(156deg);
  }

  50% {
    transform: rotate(256deg);
  }

  100% {
    transform: rotate(156deg);
  }
}

@keyframes stick {
  0% {
    transform: rotate(120deg);
  }

  50% {
    transform: rotate(136deg);
  }

  100% {
    transform: rotate(120deg);
  }
}
